<form action="/articles" method="post">
<label for="title">Enter article title: </label><input type="text" name="title" id="title"><br>
<label for="content">Enter article content: </label><br><textarea name="content" id="content" cols="30" rows="10"></textarea><br>
<input type="submit" value="Submit">
</form>